.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px #C3C6D0 solid;
  border-radius: 8px;
  cursor: pointer;
  min-height: fit-content;
  padding: 8px 16px;
  max-width: fit-content;
}

.button:hover{
  border: 1px #191C1E solid;
}

.button:hover .backButtonText{
  color: #191C1E;
}

.buttonText{
  font-size: 14px;
  color: #73777F;
}

.buttonIcon{
  width: 14px;
  height: 14px;
}