.boardScroll {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 32px 36px;
}

.columnDiv {
  display: flex;
  align-items: flex-start;
  gap: 24px;

  width: max-content;
  min-width: 100%;
}

.addButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border: 1px #C3C6D0 dashed;
    border-radius: 8px;
    background: #F2F4F6;
    padding: 19px 80px;
    gap: 8px;
}

.addButton:hover{
  border: 1px #191C1E solid;
  cursor: pointer;
}

.addButton:hover .addButtonText{
  color: #191C1E;
}


.addButtonIcon{
    width: 20px;
    height: 18px;
}

.addButtonText{
    font-size: 16px;
    color: #73777F;
    text-align: center;
    align-items: center;
    width: fit-content;
}

.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 120px;
  margin-bottom: 32px;
}


.backButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px #C3C6D0 solid;
  border-radius: 8px;
  cursor: pointer;
  min-height: fit-content;
  padding: 8px 16px;
}

.backButton:hover{
  border: 1px #191C1E solid;
}

.backButton:hover .backButtonText{
  color: #191C1E;
}

.backButtonText{
  font-size: 14px;
  color: #73777F;
}

.backButtonIcon{
  width: 14px;
  height: 14px;
}

.navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.addMember{
  display: flex;
  align-items: center;
  border-radius: 100%;
  border: 1px #73777F solid;
}

.addMemberIcon{
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.memberDiv{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
