body{
    background: rgba(195, 198, 208, 0.2);
}

main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;
    flex-direction: column;
}

.boardList{
    display: grid;
    grid-template-columns: repeat(auto-fill, 259px);
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
    padding-top: 12px;
    
}

.boardsTitle{
    width: 100%;
    font-size: 32px;
    color: #191C1E;
    text-align: left;
    font-weight: bold;   
    letter-spacing: -0.64px; 
    line-height: 40px;
    
}

.boardsDescription{
    font-size: 16px;
    font-weight: regular;
}

.boardsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    color: #43474E;
}

.addButton{
    border: 1px solid #C3C6D0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 8px;
    gap: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
    height: min(184px);
}

.addButton:hover{
    border: 1px solid #191C1E;
    transform: scale(0.98);
}


.addBoardTitle{
    font-size: 18px;
    font-weight: 800px;
    color: #43474E;
    letter-spacing: 0px;

}

