.inputDiv{
    display: flex;
    flex-direction: column;
    gap: 8.5px;
}


.modalInput{
    width: max(510px);
    height: 50px;
    border-radius: 8px;
    border: 1px #C3C6D0  solid ;
    padding: 13px 16px;
}

.modalLabel{
    font-size: 12px;
    font-weight: bold;
}

