.profileImage, .fallback{
    width: 34px;
    height: 34px;
    border: 1px black solid;
    border-radius: 100%;
    margin-left: -10px
}

.profileImage{
    object-fit: cover;
}

.fallback{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 18px;
}
