.main{
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.regLink{
    text-decoration: none;
    color: #000;
}

.regLink:hover{
    text-decoration: 2px solid black;
    
}